:root {
	--background-color: #f5f3f3dd;
	--light-color: #fff;
	--dark-color: #04072be2;
	--dark: #04072bf7;

	--footer-color: #3f378d;
	--push-color: #fc9cdc;
	--menu-color: #b4d2ed;
	--menu-burger-color: #dcb5d4;
	--accents-color: #cbbddd;
}
