section {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: start;
	padding: 0 20px;
	border-radius: 8px;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.left {
	flex: 1;
	padding: 30px 25px;
}

.topline {
	display: block;
	position: relative;
	font-size: 40px;
	color: var(--words);
	letter-spacing: 4px;
}

.topline::after {
	position: absolute;
	content: "";
	height: 4px;
	width: 40px;
	bottom: 10px;
	background-color: #3f378d;
}

.left h1 {
	display: block;
	font-size: 40px;
	font-weight: 900;
	color: var(--words);
	letter-spacing: 4px;
	min-width: 220px;
}

.multiText {
	color: #3f378d;
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 900;
	letter-spacing: 5px;
}

.left p {
	display: block;
	min-width: 350px;
	font-size: 1.2em;
	color: var(--words);
}

.right {
	display: none;
}

@media only screen and (min-width: 800px) {
	section {
		margin: 30px 50px;
		background-color: var(--dark);
		box-shadow: 5px 5px 20px rgba(231, 201, 236, 0.2);
	}

	.hero {
		flex-direction: row;
		margin: 30px 0;
	}

	.left {
		display: block;
		flex: 50%;
		margin: 0 25px;
	}

	.right {
		display: block;
		transform: rotateY(180deg);
		flex: 50%;
	}

	.right img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 1620px) {
	section {
		margin: 50px 80px;
		background-color: var(--dark);
		box-shadow: 5px 5px 20px rgba(231, 201, 236, 0.2);
	}

	.hero {
		flex-direction: row;
	}

	.left {
		display: block;
		flex: 50%;
		max-width: 900px;
		margin: 60px 30px;
	}

	.right {
		display: block;
		transform: rotateY(180deg);
		flex: 50%;
		margin: 60px 30px;
	}

	.right img {
		width: 100%;
		height: auto;
	}
}

.styled-break {
	width: 30px;
	height: 5px;
	border-radius: 2.5px;
	margin: 50px 0 50px 0;
	background-color: #3f378d;
}

.button {
	border: 0;
	padding: 10px 20px;
	margin: 50px 0 50px 0;
	background-color: #3f378d;
	width: 120px;
	border-radius: 20px;
	color: var(--light-color);
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

.button:hover {
	color: var(--light-color);
	background-color: var(--menu-burger-color);
}

.button:active {
	color: var(--light-color);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
	background-color: var(--accents-color);
}

.but {
	margin: 0 0 50px 0;
}

.pro {
	display: block;
	position: relative;
	font-size: 45px;
	color: var(--words);
	letter-spacing: 10px;
	text-transform: uppercase;
	margin-top: 80px;
}

.projects {
	margin-top: 50px;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
	color: var(--words);
}

.project-title {
	text-align: center;
}

.project-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 20px;
}

.project-image {
	flex: 0 0 40%;
	text-align: center;
}

.project-image img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.project-details {
	flex: 0 0 40%;
	padding-left: 20px;
}

.project-description {
	text-align: center;
}

.project-links {
	margin-top: 10px;
}

.project-links a {
	display: block;
	margin-bottom: 5px;
	color: var(--words);
}

@media only screen and (max-width: 800px) {
	.project-content {
		flex-direction: column;
	}

	.project-image,
	.project-details {
		width: 100%;
		text-align: center;
	}

	.project-details {
		padding-left: 0;
		margin-top: 20px;
	}
}
